* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-VariableFont_wdth\,wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}

body {
    --light-bg: #EBEBD3;
    --blue: #3C91E6;
    --black: #141414;
    --rose: #FF928B;
    --light-bg: #F9FBF2;
    --blue-light: #3C91E655;

    font-family: "Roboto";
    line-height: 1.5;
    letter-spacing: 0.05rem;
    color: var(--black);
    height: 100vh;
    display: flex;
}

.sidebar {
    --sidebar-element-padding: 0.5rem;

    flex: 1;
    min-width: max-content;
    max-width: 300px;
    height: 100%;

    padding: 10px;
    background-color: var(--light-bg);
}

.sidebar .heading {
    margin-bottom: 30px;
    padding-left: var(--sidebar-element-padding);
}

.project-nav h2 {
    font-weight: 500;
    font-size: 1.3rem;

    margin-bottom: 1rem;

    padding-left: var(--sidebar-element-padding);
}

.projects-nav-display p{
    font-weight: 425;

    margin-bottom: 0.25rem;

    border-radius: 10px;
    padding: 0.1rem var(--sidebar-element-padding);
}

.projects-nav-display p::before {
    content: "#";
    padding: 0 5px;
    margin-right: 2px;
    font-size: 1.2em;

    background-image: linear-gradient(45deg, var(--blue) 30%, var(--rose));
    color: transparent;
    background-clip: text;
}

.projects-nav-display p:hover {
    background-color: var(--blue-light);
    cursor: pointer;
}

#project-container {
    flex: 3 0 auto;
}

