* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: 1rem;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-VariableFont_wdth\,wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}

body {
    --light-bg: #EBEBD3;
    --blue: #3C91E6;
    --black: #141414;
    --rose: #FF928B;
    --rose-red: #ff5a4f;
    --light-bg: #e6f1f1;
    --blue-light: #3C91E655;
    --black-light: #14141455;
    --yellow: #FFD25A;
    --green: #99D19C;

    font-family: "Roboto";
    line-height: 1.5;
    letter-spacing: 0.05rem;
    color: var(--black);
    height: 100vh;
    display: flex;
}

.sidebar {
    --sidebar-element-padding: 0.5rem;

    flex: 1;
    min-width: max-content;
    max-width: 300px;
    height: 100%;

    padding: 30px 20px 10px 30px;
}

.sidebar .heading {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--black-light);
}

.heading h1 {
    color: transparent;
    background: linear-gradient(-30deg, var(--rose) 60%, var(--blue));
    background-clip: text;
    font-size: 1.8rem;
}

.sidebar .heading p {
    color: transparent;
    background: linear-gradient(-30deg, var(--rose) 50%, var(--blue));
    background-clip: text;
    font-size: 0.95rem;
}

.project-nav-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.project-nav-heading button {
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
    margin-right: 10px;
    border: 1px solid transparent;
}

.project-nav-heading button:hover {
    cursor: pointer;
    box-shadow: var(--black-light) 3px 3px 3px -2px;
    border-color: var(--black);
}

.project-nav h2 {
    font-weight: 500;
    font-size: 1.3rem;
}

.projects-nav-display p{
    font-weight: 425;

    margin-top: 1.5rem;

    border-radius: 10px;
    padding: 0.1rem var(--sidebar-element-padding);
}

.projects-nav-display p::before {
    content: "#";
    font-weight: 700;
    padding: 0 5px;
    margin-right: 2px;
    font-size: 1.2em;

    background-image: linear-gradient(45deg, var(--blue) 30%, var(--rose));
    color: transparent;
    background-clip: text;
}

.projects-nav-display p.active {
    position: relative;
}

.projects-nav-display p.active::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 10%;
    height: 80%;
    width: 5px;
    background-color: var(--blue);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.projects-nav-display p:hover {
    background-color: var(--blue-light);
    cursor: pointer;
    
}

#project-container {
    flex: 3 0 auto;
    background-color: var(--light-bg);
}

#project-container {
    padding: 10px 35px;
}

.project-heading {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--black-light);
}

.project-title {
    font-size: 1.5rem;
}

.todos {
    display: grid;
    grid-auto-rows: 1fr;
}

.todo-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    padding: 15px 15px 15px 10px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--black-light);
    position: relative;
    /* box-shadow: #14141422 10px 10px 5px -5px; */
}

.todo-container:hover {
    cursor: pointer;
    border-color: var(--blue);
    box-shadow: var(--black-light) 10px 10px 20px -17px;
}

.todo-container.complete {
    opacity: 0.5;
}

.todo-container.complete .todo-title {
    text-decoration: line-through;
}

.todo-container.complete .checkbox {
    background-color: var(--blackx-light);
}

.todo-container .left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-container .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.todo-title {
    font-size: 1.3rem;
    font-weight: 500;
}

.todo-description {
    display: none;
}

.todo-priority {
    justify-self: end;

    font-size: 0.8rem;
    font-weight: 500;

    padding: 3px 7px;
    border-radius: 10px;
}

.todo-priority.low {
    background-color: var(--green);
}

.todo-priority.medium {
    background-color: var(--yellow);
}

.todo-priority.high {
    background-color: var(--rose);
}

.todo-due-date {
    font-size: 0.9rem;

    border-left: 1px solid var(--black);
    padding-left: 10px;
}

/* style checkmark */
.checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid var(--black-light);
    border-radius: 50%;
}

.checkbox:hover {
    cursor: pointer;
    border-color: var(--black);
}

.project-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.add-todo{
    padding: 5px 30px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
    border: 1px solid transparent;
}

.add-todo:hover {
    cursor: pointer;
    box-shadow: var(--black-light) 5px 5px 10px -5px;
    border-color: var(--black);
}

dialog {
    align-self: center;
    justify-self: center;

    border: none;
    border-radius: 10px;
    padding: 30px;

    min-width: max-content;
    width: min(30%, 500px);
}

.dialog-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black-light);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.dialog-heading h1 {
    font-size: 1.4rem;
}

.dialog-heading button {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 5px;
}

.dialog-heading button:hover {
    cursor: pointer;
    color: var(--blue);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-bottom: 1px solid var(--black-light);
    padding-bottom: 30px;
    margin-bottom: 20px;
}


.form-section {
    display: flex;
    flex-direction: column;
}

.form-section label {
    font-size: 0.9rem;
    font-weight: 400;
}

.form-section input, .form-section select,  .form-section textarea {
    padding: 10px;
    margin-top: 2px;
    border: none;
    background-color: rgba(180, 180, 180, 0.1);
    border-radius: 5px;
}

.dialog-buttons {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

dialog > button[type="submit"] {
    float: right;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    border: 1px solid transparent;
}

dialog > button[type="submit"]:hover {
    cursor: pointer;
    border: 1px solid var(--black);
}

.todo-info-sidebar {
    flex: 1;
    max-width: 300px;
    flex-direction: column;
    padding: 20px;
}

.hide {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-info-sidebar .dialog-heading {
    margin: 0;
    padding: 0;
}

.todo-info-sidebar .dialog-heading h2 {
    font-size: 1.5rem;
}

.todo-info-description {
    margin-bottom: 10px;
}

.todo-info-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.todo-info-actions {
    border-top: 1px solid var(--black-light);
    padding-top: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.todo-info-actions button {
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    --border-hover-color: var(--black);
    border: 1px solid transparent;
}

.todo-info-actions button:last-child {
    background-color: #dddddd55;
    --border-hover-color: var(--blue);
}

.todo-info-actions button:hover {
    cursor: pointer;
    box-shadow: var(--black-light) 8px 8px 10px -8px;
    border: 1px solid var(--border-hover-color);
}