* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: 1rem;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-VariableFont_wdth\,wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}

body {
    --light-bg: #EBEBD3;
    --blue: #3C91E6;
    --black: #141414;
    --rose: #FF928B;
    --light-bg: #CFD8D7;
    --blue-light: #3C91E655;
    --black-light: #14141455;

    font-family: "Roboto";
    line-height: 1.5;
    letter-spacing: 0.05rem;
    color: var(--black);
    height: 100vh;
    display: flex;
}

.sidebar {
    --sidebar-element-padding: 0.5rem;

    flex: 1;
    min-width: max-content;
    max-width: 300px;
    height: 100%;

    padding: 10px;
    background-color: var(--light-bg);
}

.sidebar .heading {
    margin-bottom: 30px;
    padding-left: var(--sidebar-element-padding);
}

.heading h1 {
    font-size: 2rem;
}

.project-nav h2 {
    font-weight: 500;
    font-size: 1.3rem;

    margin-bottom: 1rem;

    padding-left: var(--sidebar-element-padding);
}

.projects-nav-display p{
    font-weight: 425;

    margin-bottom: 0.25rem;

    border-radius: 10px;
    padding: 0.1rem var(--sidebar-element-padding);
}

.projects-nav-display p::before {
    content: "#";
    font-weight: 700;
    padding: 0 5px;
    margin-right: 2px;
    font-size: 1.2em;

    background-image: linear-gradient(45deg, var(--blue) 30%, var(--rose));
    color: transparent;
    background-clip: text;
}

.projects-nav-display p:hover {
    background-color: var(--blue-light);
    cursor: pointer;
    
}

#project-container {
    flex: 3 0 auto;
}

#project-container {
    padding: 10px 20px;
}

.project-title {
    font-size: 1.5rem;
}

.todos {
    display: grid;
    grid-auto-rows: 1fr;
}

.todo-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    padding: 10px 15px 10px 10px;
    margin-top: 15px;
    border-top: 1px solid var(--black-light);
    /* box-shadow: #14141422 10px 10px 5px -5px; */
}

.todo-container .left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-container .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.todo-title {
    font-size: 1.3rem;
    font-weight: 500;
}

.todo-description {
    display: none;
}

.todo-priority {
    justify-self: end;

    font-size: 0.8rem;
    font-weight: 500;

    padding: 3px 7px;
    border-radius: 10px;
    background-color: var(--rose);
}

.todo-due-date {
    font-size: 0.9rem;

    border-left: 1px solid var(--black);
    padding-left: 10px;
}

/* style checkmark */
.checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid var(--black-light);
    border-radius: 50%;
}

.checkbox:hover {
    cursor: pointer;

}

.project-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.add-todo {
    padding: 5px 30px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
    box-shadow: var(--black-light) 5px 5px 5px -3px;
}

dialog {
    align-self: center;
    justify-self: center;

    border: none;
    border-radius: 10px;
    padding: 30px;

    min-width: max-content;
    width: min(30%, 500px);
}

.dialog-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black-light);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.dialog-heading h1 {
    font-size: 1.4rem;
}

.dialog-heading button {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 5px;
}

.dialog-heading button:hover {
    cursor: pointer;
    color: var(--blue);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-bottom: 1px solid var(--black-light);
    padding-bottom: 30px;
    margin-bottom: 20px;
}


.form-section {
    display: flex;
    flex-direction: column;
}

.form-section label {
    font-size: 0.9rem;
    font-weight: 400;
}

.form-section input, .form-section select,  .form-section textarea {
    padding: 10px;
    margin-top: 2px;
    border: none;
    background-color: rgba(180, 180, 180, 0.1);
    border-radius: 5px;
}

.dialog-buttons {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

dialog > button[type="submit"] {
    float: right;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    border: 1px solid transparent;
}

dialog > button[type="submit"]:hover {
    cursor: pointer;
    border: 1px solid var(--black);
}
